.account-header {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.account-title {
  font-size: 23px;
}
.account-content {
  display: flex;
  justify-content: center;
}
.account-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;

  div:not(:last-child) {
    margin-bottom: 5px;
  }

  .account {
    text-overflow: ellipsis;
    color: grey;
    font-weight: 600;
    font-size: small;

    &:hover {
      color: black;
      cursor: pointer;
    }
  }

  .balance {
    font-size: 30px;
    text-align: center;
  }

  .connect-button {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffffee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.button-custom {
  width: 100%;
  min-height: 54px;
  border-radius: 10px !important;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem !important;
  font-weight: bold !important;

  letter-spacing: 0.5px;
  text-transform: uppercase;
  &.primary {
    background: linear-gradient(
      90deg,
      #0060fd -60.25%,
      #00a4fa -21.77%,
      #01c1ec 13.74%,
      #00cdf0 46.96%,
      #00ddda 77.89%,
      #00ecda 107.67%,
      #00f8da 153.48%
    );
    color: #fff;
    box-shadow: #00cdf0 0px 1px 5px;
  }

  &.secondary {
    background: #fefefe;
    color: #6a6969;
    box-shadow: #6a6969 0px 1px 5px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}
